<main class='fdornas-main'>
  <div class='container'>
    <%= render 'layouts/navbar' %>

    <div class='row content'>
      <div class='col-12 col-md-4'>
        <%= image_tag asset_path('cover.png'), class: 'about-img' %>
      </div>

      <div class='col-12 col-md-8'>
        <p class='about-text'>
          Originally from Montreal, Sarah Baskin is an award winning actor and filmmaker based in NYC. As an actor, Sarah has worked on stage (Off-Broadway, Regionally, Internationally), and on screen (HBO, Amazon, Hulu, Netflix, independent films +). Upcoming projects include a supporting role in an upcoming Netflix film (opp. Zac Efron, Joey King) and a Guest star on Ramy, season 3.
        </p>
        <p class='about-text'>
          Sarah loves developing new work and collaborating with playwrights. Her first play in NYC was working with esteemed writer Joan Tewkesbury (screenwriter of Robert Altman’s Nashville) on the play Retrospective. Other favorite collaborations include Hannah Rittner (The Unbelievers, Three Women Mourning the Apocalypse and the development of Elijah) and Cheri Magid, with whom she recently co-created a one woman play A Poem and a Mistake that contends with the 50 sexual assaults in Ovid’s Metamorphoses. It premiered as a film/play hybrid at the Australian Centre for Contemporary Art (ACCA), and the Sydney Herald said “You’ll never think of classical literature again without these women coming into your head.” Other theatre credits include: Roundabout, Urban Stages, 59E59, Portland Center Stage, American Repertory Theatre, Capital Rep, and more.
        </p>
        <p class='about-text'>
          Behind the camera, Sarah is influenced by her time teaching classes in acting, and seeks to capture the raw and idiosyncratic moments that bring stories to life. She has collaborated on many shorts, including DONUT CHASE, a bold comedic romp, which has played at LA Femme International Film Festival, Topaz Film Festival, Twin Cities Film Festival, and more. Her directorial debut is an award winning bilingual short Les Câlins Cheaps (director/co-writer/actor) based on the play by French Canadian playwright Annick Lefebevre. It was shot up in Montreal in fall of 2021, completed in summer 2022, and is currently in the middle of its festival run.
        </p>
        <p class='about-text'>
          Sarah is a company member of The Actors Center and an MFA in Acting from American Repertory Theatre / Moscow Art Theatre School at Harvard University.
        </p>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</main>