<main class='fdornas-main'>
  <div class='container'>
    <%= render 'layouts/navbar' %>

    <div class='row content'>
      <div class='col-12 col-md-4'>
        <%= image_tag @about.image, class: 'about-img' %>
      </div>

      <div class='col-12 col-md-8'>
        <p class='about-text'>
          <%= @about.text.html_safe %>
        </p>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</main>