<main class='fdornas-main'>
  <div class='container'>
    <%= render 'layouts/navbar' %>

    <div class='row content'>
      <div class='col cover-container text-center'>
        <%= image_tag @home.cover, class: 'home-cover' %>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</main>