<main class='fdornas-main'>
  <div class='container'>
    <%= render 'layouts/navbar' %>

    <div class='row content'>
      <div class='col-12 text-center'>
        <div class="video-container">
          <iframe
            src="https://www.youtube.com/embed/<%= @video.video_id %>"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</main>
