<footer>
  <div class='container'>
    <div class='d-flex'>
      <a href="https://www.instagram.com/fdornas" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
</footer>